@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: orange;
  --color-secondary: black;
  --color-tertiary: white;
  --color-enable: grey;
  --color-text-primary: black;
  --color-text-title: orange;
  --input-field: rgb(196 196 196 / 20%);

  /* FONT */
  --font-primary: 'Roboto', sans-serif;
  --font-primary-size: 22px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-primary);
  font-weight: 400;
  color: var(--color-primary);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  background: linear-gradient(90deg, #dfdfdf 50%, #bb748d 50%);
}
