.container {
  display: grid;
  gap: 1rem;
  width: 80%;
  margin: 0 auto;
  justify-items: center;
  align-content: center;
  text-align: center;
  height: 100vh;
  padding: 4rem 2rem;
}

.skip {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 8px;
  width: 12rem;
  height: 2.5rem;
  align-items: center;
  text-decoration: none;
  justify-items: center;
  align-content: center;
}
